*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

 .avatar{
   border: 1px #000000;
   padding: 7px;
   border-radius:50%;
   width: 100px;
   height: 100px;
 }
 .body{
    max-width: 1600px;
    position: absolute;
 }

 .body .content {
    color: whitesmoke;
    top: 30%;
    left: 32%;
 }
 
