*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

 .body{
    max-width: 1600px;
 }

 .body .content {
    color: whitesmoke;
    top: 30%;
    left: 32%;
    position: absolute;
 }
 
